<div class="well hoverwell thumbnail">
    <h2>{{event?.name}}</h2>
    <div>Data: {{event?.date}}</div>
    <div [ngClass]="getStartedClassForTime()" [ngSwitch]="event?.time">
        Hora: {{event?.time}}
        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
        <span *ngSwitchCaseDefault>(Normal Start)</span>
    </div>
    <div>Preço: R\${{event?.price}}</div>
    <div [hidden]="!event?.location">
        <span>Endereço: {{event?.location?.address}}</span>
        <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
    <div [hidden]="!event?.onlineUrl">
        Online Url: {{event?.onlineUrl}}
    </div>
</div>